{% extends "generic_views/base.html" %}
{%load static %}
{% block body %}
	<body class="login-layout light-login">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								{%include "accounts/login_logo.html" %}
							</div>
							<div class="space-6"></div>
							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
											<i class="ace-icon fa fa-coffee green"></i>
											Ingreso
											</h4>
											{% if invalid %}
												{% if not verbose_error %}
													<h4 class="header red">
													<i class="ace-icon fa fa-warning yellow"></i>
													Usuario o contraseña inválidas
													</h4>
												{% else %}
													<h4 class="header red">
													<i class="ace-icon fa fa-warning yellow"></i>
													{{verbose_error}}
													</h4>
												{% endif %}
											{% endif %}
											<div class="space-6"></div>
											<form action="/accounts/auth/" method="POST" accept-charset="utf-8">
												<input type="hidden" name="next" value="{{ next }}" />
												{% csrf_token %}
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="Username" name="username" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Password" name="password" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>
													<div class="space"></div>
													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" />
															<span class="lbl"> Remember Me</span>
														</label>
														<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
														<i class="ace-icon fa fa-key"></i>
														<span class="bigger-110">Login</span>
														</button>
													</div>
													<div class="space-4"></div>
												</fieldset>
											</form>
											</div><!-- /.widget-main -->
											<div class="toolbar clearfix center">
												<h4>&nbsp;&nbsp;También se puede logear con:</h4>
												{% if google_key or facebook_key%}
													{% if google_key %}
														<a  class="user-signup-link" href="{% url 'accounts:social:begin' 'google-oauth2' %}?next={{ next }}">
															<button class="btn btn-lg btn-danger btn-block">
															<i class="ace-icon fa fa-google"></i>
															Google
															</button>
														</a>
													{% endif %}
													{% if facebook_key %}
														<a  class="user-signup-link" href="https://{{request.get_host}}{% url 'accounts:social:begin' backend='facebook' %}?next={{ next }}">
															<button class="btn btn-lg btn-primary btn-block">
															<i class="ace-icon fa fa-facebook"></i>
															Facebook
															</button>
														</a>
													{% endif %}
												{% endif %}
												<a href="#" data-target="#forgot-box" class="forgot-password-link">
													<button class="btn btn-lg btn-warning btn-block">
													<i class="ace-icon fa fa-exclamation"></i>
													Olvidé la Contraseña!!
													</button>
												</a>
												
												
												
												<a href="#" data-target="#signup-box" class="user-signup-link">
													<button class="btn btn-lg btn-success btn-block">
													<i class="ace-icon fa fa-address-book"></i>
													Quiero Registrarme
													</button>
												</a>
												
											</div>
											</div><!-- /.widget-body -->
											</div><!-- /.login-box -->
											<div id="forgot-box" class="forgot-box widget-box no-border">
												<div class="widget-body">
													<div class="widget-main">
														<h4 class="header red lighter bigger">
														<i class="ace-icon fa fa-key"></i>
														Recupero de Contraseña
														</h4>
														<div class="space-6"></div>
														<p>
															Ingrese su correo elecrónico
														</p>
														<form action="{% url 'accounts:password_reset' %}" method="POST" accept-charset="utf-8">
															{% csrf_token %}
															<fieldset>
																{% if form.email.errors %}
																	<span class="red">
																		{{ form.email.errors}}
																	</span>
																{% endif %}
																<span class="block input-icon input-icon-right">
																	<input type="email" name="email" class="form-control" placeholder="Email" />
																	<i class="ace-icon fa fa-envelope"></i>
																</span>
															</label>
															<div class="clearfix">
																<button type="submit" class="pull-right btn btn-sm btn-danger">
																<i class="ace-icon fa fa-lightbulb-o"></i>
																<span class="bigger-110">Enviame la contraseña!</span>
																</button>
															</div>
														</fieldset>
													</form>
													</div><!-- /.widget-main -->
													<div class="toolbar center">
														<a href="#" data-target="#login-box" class="back-to-login-link">
															Volver
															<i class="ace-icon fa fa-arrow-right"></i>
														</a>
													</div>
													</div><!-- /.widget-body -->
													</div><!-- /.forgot-box -->
													<div id="signup-box" class="signup-box widget-box no-border">
														<div class="widget-body">
															<div class="widget-main">
																<h4 class="header green lighter bigger">
																<i class="ace-icon fa fa-users blue"></i>
																Registración de Usuario
																</h4>
																
																<div class="space-6"></div>
																<p> Ingrese los siguientes datos: </p>
																<form action="/accounts/registration/" method="POST" accept-charset="utf-8">
																	{% csrf_token %}
																	<fieldset>
																		<label class="block clearfix">
																			{{form.nombres.errors}}
																			<span class="block input-icon input-icon-right">
																				<input type="text" class="form-control" placeholder="Nombres" name="nombres" value='{{form.nombres.value|default:""}}'/>
																				<i class="ace-icon fa fa-user"></i>
																			</span>
																		</label>
																		<label class="block clearfix">
																			{{form.apellidos.errors}}
																			<span class="block input-icon input-icon-right">
																				<input type="text" class="form-control" placeholder="Apellidos" name="apellidos" value='{{form.apellidos.value|default:""}}'/>
																				<i class="ace-icon fa fa-user"></i>
																			</span>
																		</label>
																		<label class="block clearfix">
																			{{form.email.errors}}
																			<span class="block input-icon input-icon-right">
																				<input type="email" class="form-control" placeholder="Email" name="email" value='{{form.email.value|default:""}}'/>
																				<i class="ace-icon fa fa-envelope"></i>
																			</span>
																		</label>
																		<label class="block clearfix">
																			{{form.username.errors}}
																			<span class="block input-icon input-icon-right">
																				<input type="text" class="form-control" placeholder="Username" name="username" value='{{form.username.value|default:""}}' />
																				<i class="ace-icon fa fa-user"></i>
																			</span>
																		</label>
																		<label class="block clearfix">
																			{{form.password1.errors}}
																			<span class="block input-icon input-icon-right">
																				<input type="password" class="form-control" placeholder="Password"  name="password1" value='{{form.password1.value|default:""}}'/>
																				<i class="ace-icon fa fa-lock"></i>
																			</span>
																		</label>
																		<label class="block clearfix">
																			{{form.password2.errors}}
																			<span class="block input-icon input-icon-right">
																				<input type="password" class="form-control" placeholder="Repeat password"  name="password2" value='{{form.password2.value|default:""}}'/>
																				<i class="ace-icon fa fa-retweet"></i>
																			</span>
																		</label>
																		{% if form.secret %}
																			<p> Ingrese la frase secreta </p>
																			<label class="block clearfix">
																				{{form.secret.errors}}
																				<span class="block input-icon input-icon-right">
																					<input type="password" class="form-control" placeholder="Frase Secreta"  name="secret" value='{{form.secret.value|default:""}}'/>
																					<i class="ace-icon fa fa-question-circle"></i>
																				</span>
																			</label>
																		{% endif %}
																		{{ form.captcha.errors }}
																		{{ form.captcha }}
																		
																		<div class="space-24"></div>
																		<div class="clearfix">
																			<button type="reset" class="width-30 pull-left btn btn-sm">
																			<i class="ace-icon fa fa-refresh"></i>
																			<span class="bigger-110">Limpiar</span>
																			</button>
																			<button type="button" class="width-65 pull-right btn btn-sm btn-success" onclick="this.form.submit()">
																			<span class="bigger-110">Registrar</span>
																			<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
																			</button>
																		</div>
																	</fieldset>
																</form>
															</div>
															<div class="toolbar center">
																<a href="#" data-target="#login-box" class="back-to-login-link">
																	<i class="ace-icon fa fa-arrow-left"></i>
																	Volver
																</a>
															</div>
															</div><!-- /.widget-body -->
															</div><!-- /.signup-box -->
															</div><!-- /.position-relative -->
															<div class="navbar-fixed-top align-right">
																<br />
																&nbsp;
																<a id="btn-login-dark" href="#">Dark</a>
																&nbsp;
																<span class="blue">/</span>
																&nbsp;
																<a id="btn-login-blur" href="#">Blur</a>
																&nbsp;
																<span class="blue">/</span>
																&nbsp;
																<a id="btn-login-light" href="#">Light</a>
																&nbsp; &nbsp; &nbsp;
															</div>
														</div>
														</div><!-- /.col -->
														</div><!-- /.row -->
														</div><!-- /.main-content -->
														</div><!-- /.main-container -->
														{% include "generic_views/basic_scripts.html" %}
													</body>
													{% block javascript %}
														<!-- inline scripts related to this page -->
														<script type="text/javascript">
															jQuery(function($) {
															$(document).on('click', '.toolbar a[data-target]', function(e) {
																e.preventDefault();
																var target = $(this).data('target');
																$('.widget-box.visible').removeClass('visible');//hide others
																$(target).addClass('visible');//show target
															});
															});
															{% if active_form %}
																	$(function() {
																		var target = ".{{active_form}}";
																		$('.widget-box.visible').removeClass('visible');//hide others
																		$(target).addClass('visible');//show target
																	});
															{% endif %}
															
															
															//you don't need this, just used for changing background
															jQuery(function($) {
															$('#btn-login-dark').on('click', function(e) {
																$('body').attr('class', 'login-layout');
																$('#id-text2').attr('class', 'white');
																$('#id-company-text').attr('class', 'blue');
																
																e.preventDefault();
															});
															$('#btn-login-light').on('click', function(e) {
																$('body').attr('class', 'login-layout light-login');
																$('#id-text2').attr('class', 'grey');
																$('#id-company-text').attr('class', 'blue');
																
																e.preventDefault();
															});
															$('#btn-login-blur').on('click', function(e) {
																$('body').attr('class', 'login-layout blur-login');
																$('#id-text2').attr('class', 'white');
																$('#id-company-text').attr('class', 'light-blue');
																
																e.preventDefault();
															});
															
															});
														</script>
													{% endblock %}
												{% endblock %}