{% extends "generic_views/base.html" %}
{%load static %}
{% block body %}
<body class="login-layout light-login">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								{%include "accounts/login_logo.html" %}
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
												<h4 class="header">
													Hemos enviado una solicitud de cambio de contraseña a tu correo electrónico, revisálo, especialmente la seccion spam.
												</h4>
										</div>
									</div>
								</div>
							</div><!-- /.position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

{% include "generic_views/basic_scripts.html" %}

	</body>

{% block javascript %}
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			
		</script>
{% endblock %}


{% endblock %}
