{% extends "generic_views/base.html" %}
{%load static %}
{% block body %}
<body class="login-layout light-login">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								{%include "accounts/login_logo.html" %}
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											{% if validlink %}
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												Recupero de Contraseña
											</h4>
											<h4 class="header red">
												{{ form.new_password1.errors }}
												{{ form.new_password2.errors }}
											</h4>
											<div class="space-6"></div>
											<form action="{% url 'accounts:change:password' %}" method="POST" accept-charset="utf-8">
												<input type="hidden" name="next" value="{{ next }}" />
												<input type="hidden" name="token" value="{{ token }}" />
												{% csrf_token %}
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Password" name="id_new_password1" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Re-Password" name="id_new_password2" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">

														<button type="submit" class="btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">Cambiar Contraseña</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>
											{% else %}
												<h4 class="header red">
													El enlace provisto es inválido, posiblemente esta vencido
												</h4>
											{% endif %}
										</div>
									</div>
								</div>
							</div><!-- /.position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

{% include "generic_views/basic_scripts.html" %}

	</body>

{% block javascript %}
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			
		</script>
{% endblock %}


{% endblock %}
