{% load static%}					
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">

							<span class="profile-picture">
								<img class="editable img-responsive editable-click editable-empty" alt="Avatar" id="avatar" src="{% if usuario.profile.get_profile_avatar.url %}{{usuario.profile.get_profile_avatar.url}}{% else %}{% static 'accounts/noavatar.png' %}{% endif %}"/>
							</span>

							<div class="space space-4"></div>

						</div><!-- /.col -->

						<div class="col-xs-12 col-sm-9">
							<h4 class="blue">
								<span id="first_name" class="middle">{{usuario.first_name}}</span>
								<span id="last_name" class="middle"> {{usuario.last_name}}</span>
								{% if usuario.profile.is_online %}
								<span class="label label-success arrowed-in-right">
									<i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
									online
								</span>
								{% else%}
									<span class="label arrowed-in-right">
									<i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
									offline
								</span>
								{% endif %}
							</h4>

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Usuario </div>

									<div class="profile-info-value">
										<span id="username">{{usuario.username}}</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name"> E-Mail </div>

									<div class="profile-info-value">
										<span id="email">{{usuario.email}}</span>
									</div>
								</div>
								{% if usuario == user %}
								<div class="profile-info-row">
									<div class="profile-info-name"> Contraseña </div>

									<div class="profile-info-value">
										<a href="{% url 'accounts:change_password' %}"><span id="password">********</span></a>
									</div>
								</div>
								{% endif %}
								
								<div class="profile-info-row">
									<div class="profile-info-name"> Última Actividad </div>

									<div class="profile-info-value">
										<span>{{usuario.profile.verbose_last_activity}}</span>
									</div>
								</div>
							</div>
						</div><!-- /.col -->
					</div><!-- /.row -->