{% load static %}					
					<div class="profile-users clearfix">
					{% for friend in friends %}
						<div class="itemdiv memberdiv">
							<div class="inline pos-rel">
								<div class="user">
									<a href="{% url 'accounts:profile' %}?username={{friend.username|urlencode}}"><img {% if friend.profile.is_online %}style="border:3px solid #8AC16C"{%endif%} src="{% if friend.profile.get_profile_avatar %}{{friend.profile.get_profile_avatar.url}}
									{%else%} {% static 'accounts/noavatar.png' %} {%endif%}" title="última actividad: {{friend.profile.verbose_last_activity}}" /></a>
								</div>

								<div class="body">
									<div class="name">
											{% if friend.profile %}
											{{friend.profile.full_name}}
											{% else %}
											{{friend.username}}
											{% endif %}
									</div>
								</div>
							</div>
						</div>
						{%endfor%}
					</div>