{% extends "generic_views/base.html" %}
{% load static %}
{% block page-content %}
	<div id="user-profile-2" class="user-profile">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-18">
				<li class="active">
					<a data-toggle="tab" href="#home">
						<i class="green ace-icon fa fa-user bigger-120"></i>
						Profile
					</a>
				</li>
				<li>
					<a data-toggle="tab" href="#friends">
						<i class="blue ace-icon fa fa-users bigger-120"></i>
						Amigos
					</a>
				</li>
			</ul>

			<div class="tab-content no-border padding-24">
				<div id="home" class="tab-pane in active">
					{% include "accounts/profile_user.html" %}
				</div><!-- /#home -->

				<div id="friends" class="tab-pane">
					<!-- #section:pages/profile.friends -->
					{% include "accounts/profile_friends.html"%}
					<!-- /section:pages/profile.friends -->
					<div class="hr hr10 hr-double"></div>
				</div><!-- /#friends -->
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'ace_admin/assets/js/x-editable/bootstrap-editable.js' %}"></script>
<script type="text/javascript" src="{% static 'ace_admin/assets/js/x-editable/ace-editable.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/js/profile_edit.js' %}"></script>

{% if usuario == user %}
<script type="text/javascript">
	$(document).ready(profile_edit_inicialize);
</script>
{% endif %}
{% endblock %}
