{% load static %}
<div class="itemdiv memberdiv">
	<div class="user">
		<img {% if usuario.profile.is_online %}style="border:3px solid #8AC16C"{%endif%} alt="avatar" src="{% if usuario.profile.get_profile_avatar.url %}{{usuario.profile.get_profile_avatar.url}}{% else %}{% static 'accounts/noavatar.png' %}{% endif %}" />
	</div>

	<div class="body">
		<div class="name">
			<a href="#">{{usuario.profile.full_name}}</a>
		</div>

		<div class="time">
			<i class="ace-icon fa {{icon|default:'fa-clock-o'}} orange"></i>
			<span class="{{color|default:'green'}}">{{label}}</span>
		</div>
	</div>
</div>
